<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br/>
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.thumb %>
      <%= f.hidden_field :avatar_cache if @user.avatar_cache %>
      <label><%= f.check_box :remove_avatar %>Remove avatar</label><br/>
    <% end %>
    URL:<%= f.text_field :remote_avatar_url %><br/>
    File:<%= f.file_field :avatar %><br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
